# 1. Introdução

## Sobre os dados

**Conjunto de dados atualizado**
Jan 22, 2024

**Author**
[Felippe Andrade](https://www.linkedin.com/in/bysedd/)

### Descrição dos dados

Dados da Organização das Nações Unidas para Alimentação e Agricultura (FAO)
As estatísticas de culturas primárias e de fibras são registradas para 173 produtos, abrangendo as seguintes categorias: culturas Primárias, Fibras Primárias, Cereais, Grãos Grossos, Frutas Cítricas, Frutas, Juta e Fibras semelhantes à Juta, Equivalente de Farelo de óleo, culturas de óleo primárias, pulses, Raízes e Tubérculos, Frutas de árvores e Legumes e Melões. Os dados são expressos em termos de área colhida, quantidade produzida, rendimento e quantidade de sementes. O objetivo é abranger de forma abrangente a produção de todas as culturas primárias para todos os países e regiões do mundo.

## 1.1 Importando bibliotecas

In [1]:
import pandas as pd
import pycountry
import re
from typing import Literal

Definindo os dados

In [2]:
df_americas = pd.read_csv("data/Production_Crops_E_Americas.csv", encoding_errors="ignore")
df_africa = pd.read_csv("data/Production_Crops_E_Africa.csv", encoding_errors="ignore")
df_asia = pd.read_csv("data/Production_Crops_E_Asia.csv", encoding_errors="ignore")
df_europe = pd.read_csv("data/Production_Crops_E_Europe.csv", encoding_errors="ignore")
df_oceania = pd.read_csv("data/Production_Crops_E_Oceania.csv", encoding_errors="ignore")

Criando a coluna *Continent* para análises posteriores

In [3]:
df_americas["Continent"] = "Americas"
df_africa["Continent"] = "Africa"
df_asia["Continent"] = "Asia"
df_europe["Continent"] = "Europe"
df_oceania["Continent"] = "Oceania"

## 1.2 Explicando as 'units'

| Unit Name | Description             |
|-----------|-------------------------|
| hg        | hectograma              |
| hg/ha     | hectogramas por hectare |
| tonnes    | toneladas               |

## 1.3 Explicando as 'flags'

| Flag | Description                                                                                                                                  |
|------|----------------------------------------------------------------------------------------------------------------------------------------------|
| NaN  | Official data                                                                                                                                |
| *    | Unofficial figure                                                                                                                            |
| A    | Aggregate, may include official, semi-official, estimated or calculated data                                                                 |
| Bk   | Break in series                                                                                                                              |
| C    | Calculated                                                                                                                                   |
| Ce   | Calculated data based on estimated data                                                                                                      |
| Cv   | Calculated through value                                                                                                                     |
| E    | Expert sources from FAO (including other divisions)                                                                                          |
| F    | FAO estimate                                                                                                                                 |
| Fb   | Data obtained as a balance                                                                                                                   |
| Fc   | Calculated data                                                                                                                              |
| Fd   | Estimates - discontinued time series                                                                                                         |
| Fk   | Calculated data on the basis of official figures                                                                                             |
| Fm   | Manual Estimation                                                                                                                            |
| I    | Country data reported by International Organizations where the country is a member (Semi-official) - WTO, EU, UNSD, etc.                     |
| Im   | FAO data based on imputation methodology                                                                                                     |
| M    | Data not available                                                                                                                           |
| NA   | Not applicable                                                                                                                               |
| NR   | Not reported                                                                                                                                 |
| NV   | Data not available                                                                                                                           |
| Od   | Official data - discontinued time series                                                                                                     |
| Of   | Official data                                                                                                                                |
| P    | Provisional official data                                                                                                                    |
| Q    | Official data reported on FAO Questionnaires from countries                                                                                  |
| Qm   | Official data from questionnaires and/or national sources and/or COMTRADE (reporters)                                                        |
| R    | Estimated data using trading partners database                                                                                               |
| S    | Standardized data                                                                                                                            |
| SD   | Statistical Discrepancy                                                                                                                      |
| W    | Data reported on country official publications or web sites (Official) or trade country files                                                |
| X    | International reliable sources                                                                                                               |
| Z    | When the Fertilizer Utilization Account (FUA) does not balance due to utilization from stockpiles, apparent consumption has been set to zero |

# 2. Análise exploratória

In [4]:
def show_shape(df_label: str, shape: tuple) -> None:
    """
    Prints the label of the DataFrame along with the number of rows and columns it contains.
    :param df_label: The label of the DataFrame.
    :param shape: A tuple representing the shape of the DataFrame, with the number of rows and columns.
    """
    print("'{0}' possui {1} linhas e {2} colunas.".format(df_label, *shape))

In [5]:
show_shape("df_americas", df_americas.shape)
show_shape("df_oceania", df_oceania.shape)
show_shape("df_europe", df_europe.shape)
show_shape("df_asia", df_asia.shape)
show_shape("df_africa", df_africa.shape)

'df_americas' possui 7206 linhas e 126 colunas.
'df_oceania' possui 1654 linhas e 126 colunas.
'df_europe' possui 10557 linhas e 126 colunas.
'df_asia' possui 9638 linhas e 126 colunas.
'df_africa' possui 9091 linhas e 126 colunas.

## 2.1 Estrutura

In [6]:
show_shape("df_americas", df_americas.shape)
show_shape("df_oceania", df_oceania.shape)
show_shape("df_europe", df_europe.shape)
show_shape("df_asia", df_asia.shape)
show_shape("df_africa", df_africa.shape)

'df_americas' possui 7206 linhas e 126 colunas.
'df_oceania' possui 1654 linhas e 126 colunas.
'df_europe' possui 10557 linhas e 126 colunas.
'df_asia' possui 9638 linhas e 126 colunas.
'df_africa' possui 9091 linhas e 126 colunas.

In [7]:
df_americas

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1961F,Y1962,...,Y2015F,Y2016,Y2016F,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F,Continent
0,8,Antigua and Barbuda,486,Bananas,5312,Area harvested,ha,NaN,NaN,NaN,...,Im,40.0,Im,42.0,Im,45.0,Im,49.0,Im,Americas
1,8,Antigua and Barbuda,486,Bananas,5419,Yield,hg/ha,NaN,NaN,NaN,...,Fc,66250.0,Fc,64048.0,Fc,60667.0,Fc,56327.0,Fc,Americas
2,8,Antigua and Barbuda,486,Bananas,5510,Production,tonnes,NaN,NaN,NaN,...,Im,265.0,Im,269.0,Im,273.0,Im,276.0,Im,Americas
3,8,Antigua and Barbuda,414,"Beans, green",5312,Area harvested,ha,1.0,F,1.0,...,Im,25.0,Im,25.0,Im,25.0,Im,25.0,Im,Americas
4,8,Antigua and Barbuda,414,"Beans, green",5419,Yield,hg/ha,40000.0,Fc,40000.0,...,Fc,40000.0,Fc,40400.0,Fc,40400.0,Fc,40800.0,Fc,Americas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7201,236,Venezuela (Bolivarian Republic of),1723,Sugar Crops Primary,5419,Yield,hg/ha,624620.0,Fc,665742.0,...,Fc,626035.0,Fc,539832.0,Fc,595381.0,Fc,590977.0,Fc,Americas
7202,236,Venezuela (Bolivarian Republic of),1723,Sugar Crops Primary,5510,Production,tonnes,2519028.0,A,2632476.0,...,A,3698488.0,A,3998316.0,A,4359617.0,A,4404728.0,A,Americas
7203,236,Venezuela (Bolivarian Republic of),1735,Vegetables Primary,5312,Area harvested,ha,10176.0,A,9202.0,...,A,67489.0,A,67971.0,A,60661.0,A,58775.0,A,Americas
7204,236,Venezuela (Bolivarian Republic of),1735,Vegetables Primary,5419,Yield,hg/ha,134928.0,Fc,131391.0,...,Fc,195347.0,Fc,194480.0,Fc,196332.0,Fc,193212.0,Fc,Americas
7205,236,Venezuela (Bolivarian Republic of),1735,Vegetables Primary,5510,Production,tonnes,137303.0,A,120906.0,...,A,1318379.0,A,1321899.0,A,1190972.0,A,1135606.0,A,Americas

## 2.2 Schema

Vamos juntar todos esses dados em um **único conjunto de dados**

In [8]:
df_world = pd.concat([df_americas, df_oceania, df_asia, df_europe, df_africa])

In [9]:
df_world

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1961F,Y1962,...,Y2015F,Y2016,Y2016F,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F,Continent
0,8,Antigua and Barbuda,486,Bananas,5312,Area harvested,ha,NaN,NaN,NaN,...,Im,40.0,Im,42.0,Im,45.0,Im,49.0,Im,Americas
1,8,Antigua and Barbuda,486,Bananas,5419,Yield,hg/ha,NaN,NaN,NaN,...,Fc,66250.0,Fc,64048.0,Fc,60667.0,Fc,56327.0,Fc,Americas
2,8,Antigua and Barbuda,486,Bananas,5510,Production,tonnes,NaN,NaN,NaN,...,Im,265.0,Im,269.0,Im,273.0,Im,276.0,Im,Americas
3,8,Antigua and Barbuda,414,"Beans, green",5312,Area harvested,ha,1.0,F,1.0,...,Im,25.0,Im,25.0,Im,25.0,Im,25.0,Im,Americas
4,8,Antigua and Barbuda,414,"Beans, green",5419,Yield,hg/ha,40000.0,Fc,40000.0,...,Fc,40000.0,Fc,40400.0,Fc,40400.0,Fc,40800.0,Fc,Americas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9086,181,Zimbabwe,1729,"Treenuts, Total",5419,Yield,hg/ha,NaN,NaN,NaN,...,Fc,17493.0,Fc,18038.0,Fc,18579.0,Fc,19122.0,Fc,Africa
9087,181,Zimbabwe,1729,"Treenuts, Total",5510,Production,tonnes,NaN,A,NaN,...,A,6588.0,A,6490.0,A,6592.0,A,6643.0,A,Africa
9088,181,Zimbabwe,1735,Vegetables Primary,5312,Area harvested,ha,12296.0,A,12644.0,...,A,34443.0,A,34937.0,A,35467.0,A,35994.0,A,Africa
9089,181,Zimbabwe,1735,Vegetables Primary,5419,Yield,hg/ha,65324.0,Fc,65900.0,...,Fc,66788.0,Fc,66951.0,Fc,67043.0,Fc,67141.0,Fc,Africa
9090,181,Zimbabwe,1735,Vegetables Primary,5510,Production,tonnes,80322.0,A,83324.0,...,A,230038.0,A,233908.0,A,237783.0,A,241666.0,A,Africa

In [10]:
show_shape("df_world", df_world.shape)

'df_world' possui 38146 linhas e 126 colunas.

* Colunas e seus respectivos tipos de dados

In [11]:
df_world.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38146 entries, 0 to 9090
Columns: 126 entries, Area Code to Continent
dtypes: float64(59), int64(3), object(64)
memory usage: 37.0+ MB

* Atributos **categóricos**

In [12]:
df_world.select_dtypes('object').describe().transpose()

           count unique                      top   freq
Area       38146    210          China, mainland    398
Item       38146    175  Roots and Tubers, Total    618
Element    38146      3               Production  13224
Unit       38146      3                   tonnes  13224
Y1961F     19394      5                       Fc   7352
...          ...    ...                      ...    ...
Y2016F     24009      6                       Fc  10981
Y2017F     23850      6                       Fc  10993
Y2018F     23171      6                       Fc  10732
Y2019F     24274      6                       Fc  10741
Continent  38146      5                   Europe  10557

[64 rows x 4 columns]

## 2.3 Dados faltantes

In [13]:
def stats_missing_data(df: pd.DataFrame) -> None:
    """
    Calculate statistics for missing data in a DataFrame.
    :param df: The DataFrame to analyze.
    """
    stats_data_missing = []
    for col in df.columns:
        if df[col].isna().any():
            qtd, _ = df[df[col].isna()].shape
            total, _ = df.shape
            dict_dados_faltantes = {
                col: {"quantidade": qtd, "porcentagem": round(100 * qtd / total, 2)}
            }
            stats_data_missing.append(dict_dados_faltantes)

    for stat in stats_data_missing:
        print(stat)

In [14]:
stats_missing_data(df_world)

{'Y1961': {'quantidade': 15507, 'porcentagem': 40.65}}
{'Y1961F': {'quantidade': 18752, 'porcentagem': 49.16}}
{'Y1962': {'quantidade': 15488, 'porcentagem': 40.6}}
{'Y1962F': {'quantidade': 18759, 'porcentagem': 49.18}}
{'Y1963': {'quantidade': 15490, 'porcentagem': 40.61}}
{'Y1963F': {'quantidade': 18968, 'porcentagem': 49.72}}
{'Y1964': {'quantidade': 15463, 'porcentagem': 40.54}}
{'Y1964F': {'quantidade': 19045, 'porcentagem': 49.93}}
{'Y1965': {'quantidade': 15463, 'porcentagem': 40.54}}
{'Y1965F': {'quantidade': 19282, 'porcentagem': 50.55}}
{'Y1966': {'quantidade': 15366, 'porcentagem': 40.28}}
{'Y1966F': {'quantidade': 19377, 'porcentagem': 50.8}}
{'Y1967': {'quantidade': 15331, 'porcentagem': 40.19}}
{'Y1967F': {'quantidade': 19322, 'porcentagem': 50.65}}
{'Y1968': {'quantidade': 15268, 'porcentagem': 40.03}}
{'Y1968F': {'quantidade': 19380, 'porcentagem': 50.8}}
{'Y1969': {'quantidade': 15235, 'porcentagem': 39.94}}
{'Y1969F': {'quantidade': 19359, 'porcentagem': 50.75}}
{'Y1970': {'quantidade': 15149, 'porcentagem': 39.71}}
{'Y1970F': {'quantidade': 19518, 'porcentagem': 51.17}}
{'Y1971': {'quantidade': 15076, 'porcentagem': 39.52}}
{'Y1971F': {'quantidade': 19584, 'porcentagem': 51.34}}
{'Y1972': {'quantidade': 15047, 'porcentagem': 39.45}}
{'Y1972F': {'quantidade': 19457, 'porcentagem': 51.01}}
{'Y1973': {'quantidade': 15048, 'porcentagem': 39.45}}
{'Y1973F': {'quantidade': 19618, 'porcentagem': 51.43}}
{'Y1974': {'quantidade': 14989, 'porcentagem': 39.29}}
{'Y1974F': {'quantidade': 19471, 'porcentagem': 51.04}}
{'Y1975': {'quantidade': 14854, 'porcentagem': 38.94}}
{'Y1975F': {'quantidade': 19523, 'porcentagem': 51.18}}
{'Y1976': {'quantidade': 14793, 'porcentagem': 38.78}}
{'Y1976F': {'quantidade': 19474, 'porcentagem': 51.05}}
{'Y1977': {'quantidade': 14635, 'porcentagem': 38.37}}
{'Y1977F': {'quantidade': 19367, 'porcentagem': 50.77}}
{'Y1978': {'quantidade': 14598, 'porcentagem': 38.27}}
{'Y1978F': {'quantidade': 19394, 'porcentagem': 50.84}}
{'Y1979': {'quantidade': 14433, 'porcentagem': 37.84}}
{'Y1979F': {'quantidade': 19203, 'porcentagem': 50.34}}
{'Y1980': {'quantidade': 14217, 'porcentagem': 37.27}}
{'Y1980F': {'quantidade': 19216, 'porcentagem': 50.37}}
{'Y1981': {'quantidade': 14127, 'porcentagem': 37.03}}
{'Y1981F': {'quantidade': 19301, 'porcentagem': 50.6}}
{'Y1982': {'quantidade': 14052, 'porcentagem': 36.84}}
{'Y1982F': {'quantidade': 19311, 'porcentagem': 50.62}}
{'Y1983': {'quantidade': 13995, 'porcentagem': 36.69}}
{'Y1983F': {'quantidade': 19055, 'porcentagem': 49.95}}
{'Y1984': {'quantidade': 13933, 'porcentagem': 36.53}}
{'Y1984F': {'quantidade': 19150, 'porcentagem': 50.2}}
{'Y1985': {'quantidade': 12466, 'porcentagem': 32.68}}
{'Y1985F': {'quantidade': 18313, 'porcentagem': 48.01}}
{'Y1986': {'quantidade': 12302, 'porcentagem': 32.25}}
{'Y1986F': {'quantidade': 18207, 'porcentagem': 47.73}}
{'Y1987': {'quantidade': 12184, 'porcentagem': 31.94}}
{'Y1987F': {'quantidade': 18370, 'porcentagem': 48.16}}
{'Y1988': {'quantidade': 12033, 'porcentagem': 31.54}}
{'Y1988F': {'quantidade': 18355, 'porcentagem': 48.12}}
{'Y1989': {'quantidade': 11882, 'porcentagem': 31.15}}
{'Y1989F': {'quantidade': 18406, 'porcentagem': 48.25}}
{'Y1990': {'quantidade': 10676, 'porcentagem': 27.99}}
{'Y1990F': {'quantidade': 18135, 'porcentagem': 47.54}}
{'Y1991': {'quantidade': 10452, 'porcentagem': 27.4}}
{'Y1991F': {'quantidade': 17560, 'porcentagem': 46.03}}
{'Y1992': {'quantidade': 7434, 'porcentagem': 19.49}}
{'Y1992F': {'quantidade': 15116, 'porcentagem': 39.63}}
{'Y1993': {'quantidade': 7207, 'porcentagem': 18.89}}
{'Y1993F': {'quantidade': 14467, 'porcentagem': 37.93}}
{'Y1994': {'quantidade': 6925, 'porcentagem': 18.15}}
{'Y1994F': {'quantidade': 14367, 'porcentagem': 37.66}}
{'Y1995': {'quantidade': 6748, 'porcentagem': 17.69}}
{'Y1995F': {'quantidade': 14256, 'porcentagem': 37.37}}
{'Y1996': {'quantidade': 6666, 'porcentagem': 17.47}}
{'Y1996F': {'quantidade': 14301, 'porcentagem': 37.49}}
{'Y1997': {'quantidade': 6492, 'porcentagem': 17.02}}
{'Y1997F': {'quantidade': 14159, 'porcentagem': 37.12}}
{'Y1998': {'quantidade': 6355, 'porcentagem': 16.66}}
{'Y1998F': {'quantidade': 14421, 'porcentagem': 37.8}}
{'Y1999': {'quantidade': 6130, 'porcentagem': 16.07}}
{'Y1999F': {'quantidade': 14371, 'porcentagem': 37.67}}
{'Y2000': {'quantidade': 5794, 'porcentagem': 15.19}}
{'Y2000F': {'quantidade': 14469, 'porcentagem': 37.93}}
{'Y2001': {'quantidade': 5715, 'porcentagem': 14.98}}
{'Y2001F': {'quantidade': 14376, 'porcentagem': 37.69}}
{'Y2002': {'quantidade': 5661, 'porcentagem': 14.84}}
{'Y2002F': {'quantidade': 14471, 'porcentagem': 37.94}}
{'Y2003': {'quantidade': 5384, 'porcentagem': 14.11}}
{'Y2003F': {'quantidade': 14636, 'porcentagem': 38.37}}
{'Y2004': {'quantidade': 5208, 'porcentagem': 13.65}}
{'Y2004F': {'quantidade': 14680, 'porcentagem': 38.48}}
{'Y2005': {'quantidade': 5150, 'porcentagem': 13.5}}
{'Y2005F': {'quantidade': 14699, 'porcentagem': 38.53}}
{'Y2006': {'quantidade': 4967, 'porcentagem': 13.02}}
{'Y2006F': {'quantidade': 14411, 'porcentagem': 37.78}}
{'Y2007': {'quantidade': 5419, 'porcentagem': 14.21}}
{'Y2007F': {'quantidade': 14951, 'porcentagem': 39.19}}
{'Y2008': {'quantidade': 5400, 'porcentagem': 14.16}}
{'Y2008F': {'quantidade': 14988, 'porcentagem': 39.29}}
{'Y2009': {'quantidade': 5375, 'porcentagem': 14.09}}
{'Y2009F': {'quantidade': 14940, 'porcentagem': 39.17}}
{'Y2010': {'quantidade': 5310, 'porcentagem': 13.92}}
{'Y2010F': {'quantidade': 14944, 'porcentagem': 39.18}}
{'Y2011': {'quantidade': 5298, 'porcentagem': 13.89}}
{'Y2011F': {'quantidade': 14891, 'porcentagem': 39.04}}
{'Y2012': {'quantidade': 5213, 'porcentagem': 13.67}}
{'Y2012F': {'quantidade': 14719, 'porcentagem': 38.59}}
{'Y2013': {'quantidade': 5213, 'porcentagem': 13.67}}
{'Y2013F': {'quantidade': 14649, 'porcentagem': 38.4}}
{'Y2014': {'quantidade': 5159, 'porcentagem': 13.52}}
{'Y2014F': {'quantidade': 14669, 'porcentagem': 38.45}}
{'Y2015': {'quantidade': 5136, 'porcentagem': 13.46}}
{'Y2015F': {'quantidade': 14210, 'porcentagem': 37.25}}
{'Y2016': {'quantidade': 5104, 'porcentagem': 13.38}}
{'Y2016F': {'quantidade': 14137, 'porcentagem': 37.06}}
{'Y2017': {'quantidade': 5046, 'porcentagem': 13.23}}
{'Y2017F': {'quantidade': 14296, 'porcentagem': 37.48}}
{'Y2018': {'quantidade': 4754, 'porcentagem': 12.46}}
{'Y2018F': {'quantidade': 14975, 'porcentagem': 39.26}}
{'Y2019': {'quantidade': 4709, 'porcentagem': 12.34}}
{'Y2019F': {'quantidade': 13872, 'porcentagem': 36.37}}

In [15]:
df_world

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1961F,Y1962,...,Y2015F,Y2016,Y2016F,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F,Continent
0,8,Antigua and Barbuda,486,Bananas,5312,Area harvested,ha,NaN,NaN,NaN,...,Im,40.0,Im,42.0,Im,45.0,Im,49.0,Im,Americas
1,8,Antigua and Barbuda,486,Bananas,5419,Yield,hg/ha,NaN,NaN,NaN,...,Fc,66250.0,Fc,64048.0,Fc,60667.0,Fc,56327.0,Fc,Americas
2,8,Antigua and Barbuda,486,Bananas,5510,Production,tonnes,NaN,NaN,NaN,...,Im,265.0,Im,269.0,Im,273.0,Im,276.0,Im,Americas
3,8,Antigua and Barbuda,414,"Beans, green",5312,Area harvested,ha,1.0,F,1.0,...,Im,25.0,Im,25.0,Im,25.0,Im,25.0,Im,Americas
4,8,Antigua and Barbuda,414,"Beans, green",5419,Yield,hg/ha,40000.0,Fc,40000.0,...,Fc,40000.0,Fc,40400.0,Fc,40400.0,Fc,40800.0,Fc,Americas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9086,181,Zimbabwe,1729,"Treenuts, Total",5419,Yield,hg/ha,NaN,NaN,NaN,...,Fc,17493.0,Fc,18038.0,Fc,18579.0,Fc,19122.0,Fc,Africa
9087,181,Zimbabwe,1729,"Treenuts, Total",5510,Production,tonnes,NaN,A,NaN,...,A,6588.0,A,6490.0,A,6592.0,A,6643.0,A,Africa
9088,181,Zimbabwe,1735,Vegetables Primary,5312,Area harvested,ha,12296.0,A,12644.0,...,A,34443.0,A,34937.0,A,35467.0,A,35994.0,A,Africa
9089,181,Zimbabwe,1735,Vegetables Primary,5419,Yield,hg/ha,65324.0,Fc,65900.0,...,Fc,66788.0,Fc,66951.0,Fc,67043.0,Fc,67141.0,Fc,Africa
9090,181,Zimbabwe,1735,Vegetables Primary,5510,Production,tonnes,80322.0,A,83324.0,...,A,230038.0,A,233908.0,A,237783.0,A,241666.0,A,Africa

# 3. Tratamento e limpeza de dados

## 3.1 Removendo outliers

In [16]:
def calculate_iqr(*, df: pd.DataFrame) -> pd.Series:
    """
    Calculate the Interquartile Range (IQR) for a given DataFrame.
    :param df: A pandas DataFrame containing the data.
    :return: A Pandas Series representing the IQR.
    """
    q1 = df.quantile(0.25)
    q3 = df.quantile(0.75)
    return q3 - q1

In [17]:
def remove_outliers(*, df: pd.DataFrame) -> pd.DataFrame:
    """
    Remove outliers from a pandas DataFrame.
    :param df: The input DataFrame.
    :return: The DataFrame with outliers was removed.
    """
    iqr_multiplier = 1.5
    numerical_data = df.iloc[:, 7:].select_dtypes(include="number")

    iqr = calculate_iqr(df=numerical_data)
    lower_threshold = numerical_data.quantile(0.25) - iqr_multiplier * iqr
    upper_threshold = numerical_data.quantile(0.75) + iqr_multiplier * iqr

    df[numerical_data.columns] = numerical_data.clip(
        lower_threshold, upper_threshold, axis=1
    )
    return df

In [18]:
df_world = remove_outliers(df=df_world.copy())

Substituindo os valores *NaN* das colunas de **flag**
Conforme diz a tabela que os valores nulos representam dados oficiais, eu decidi alterar para **Of**.
Essa mudança irá representá-los melhor e facilitará as análises.

In [19]:
# Selecionando colunas do tipo 'object'
text_columns = df_world.select_dtypes(include='object').columns

# Substituindo todos os valores vazios dessas colunas por 'Of'
df_world[text_columns] = df_world[text_columns].fillna('Of')

Substituindo os valores *NaN* das colunas **numéricas**

In [20]:
# Selecionando colunas do tipo 'number'
numeric_columns = df_world.select_dtypes(include="number").columns

# Substituindo todos os valores vazios dessas colunas por 0
df_world[numeric_columns] = df_world[numeric_columns].fillna(0)

Removendo a letra 'Y' das colunas que representam o ano

In [21]:
def remove_y(col_name: str) -> str:
    """
    Remove the first character 'Y' from the given column name if it starts with 'Y'.
    :param col_name: The column name to remove 'Y' from.
    :return: The column name without the first character 'Y' if it starts with 'Y',
             otherwise, return the column name as is.
    """
    if col_name.startswith("Y"):
        return col_name[1:]  # Retorna a string exceto o primeiro caractere
    else:
        return col_name  # Retorna a coluna sem modificação

In [22]:
df_world.columns = [remove_y(col) for col in df_world.columns]

Criando a coluna *Country Code* para o código de cada país

In [23]:
def get_country_code(country_name: str, *, alpha: Literal[2, 3]) -> str:
    try:
        if alpha == 2:
            return pycountry.countries.get(name=country_name).alpha_2
        if alpha == 3:
            return pycountry.countries.get(name=country_name).alpha_3
    except AttributeError:
        pass

In [24]:
df_world = df_world.copy()
df_world['Alpha 3'] = df_world['Area'].apply(get_country_code, alpha=3)
df_world['Alpha 2'] = df_world['Area'].apply(get_country_code, alpha=2)

In [25]:
df_world.dropna(inplace=True)

In [26]:
df_world

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,1961,1961F,1962,...,2016F,2017,2017F,2018,2018F,2019,2019F,Continent,Alpha 3,Alpha 2
0,8,Antigua and Barbuda,486,Bananas,5312,Area harvested,ha,0.0,Of,0.0,...,Im,42.0,Im,45.0,Im,49.0,Im,Americas,ATG,AG
1,8,Antigua and Barbuda,486,Bananas,5419,Yield,hg/ha,0.0,Of,0.0,...,Fc,64048.0,Fc,60667.0,Fc,56327.0,Fc,Americas,ATG,AG
2,8,Antigua and Barbuda,486,Bananas,5510,Production,tonnes,0.0,Of,0.0,...,Im,269.0,Im,273.0,Im,276.0,Im,Americas,ATG,AG
3,8,Antigua and Barbuda,414,"Beans, green",5312,Area harvested,ha,1.0,F,1.0,...,Im,25.0,Im,25.0,Im,25.0,Im,Americas,ATG,AG
4,8,Antigua and Barbuda,414,"Beans, green",5419,Yield,hg/ha,40000.0,Fc,40000.0,...,Fc,40400.0,Fc,40400.0,Fc,40800.0,Fc,Americas,ATG,AG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9086,181,Zimbabwe,1729,"Treenuts, Total",5419,Yield,hg/ha,0.0,Of,0.0,...,Fc,18038.0,Fc,18579.0,Fc,19122.0,Fc,Africa,ZWE,ZW
9087,181,Zimbabwe,1729,"Treenuts, Total",5510,Production,tonnes,0.0,A,0.0,...,A,6490.0,A,6592.0,A,6643.0,A,Africa,ZWE,ZW
9088,181,Zimbabwe,1735,Vegetables Primary,5312,Area harvested,ha,12296.0,A,12644.0,...,A,34937.0,A,35467.0,A,35994.0,A,Africa,ZWE,ZW
9089,181,Zimbabwe,1735,Vegetables Primary,5419,Yield,hg/ha,65324.0,Fc,65900.0,...,Fc,66951.0,Fc,67043.0,Fc,67141.0,Fc,Africa,ZWE,ZW
9090,181,Zimbabwe,1735,Vegetables Primary,5510,Production,tonnes,80322.0,A,83324.0,...,A,233908.0,A,237783.0,A,241666.0,A,Africa,ZWE,ZW

## 3.2 Salvando o conjunto de dados

In [27]:
df_world.to_csv("data/Production_Crops_E_World.csv")

# 4. Análise dos dados

In [28]:
print(
    "Temos dados distintos para {} países, {} tipos de plantações em {} anos diferentes.".format(
        df_world["Area"].nunique(),
        df_world["Item Code"].nunique(),
        len([column for column in df_world.columns if re.match(r"\b\d{4}\b", column)]),
    )
)

Temos dados distintos para 183 países, 174 tipos de plantações em 59 anos diferentes.

O restante da análise será feita através do Streamlit. Confira acessando esse [link](https://share.streamlit.io/)